.hero {
  min-height: 48vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 3em 2em;
  position: relative;
}

.GetStarted__btn {
  position: absolute;
  bottom: -20px;
  right: 20px;
}
