nav {
  background-color: white;
  padding: 15px;
  color: black;
  text-transform: uppercase;
}

nav a,
nav a:hover,
nav a:visited {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
}

nav a:hover,
nav a:focus {
  font-weight: bold;
  transition: 0.3s ease all;
  outline: none;
}
